<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.UnityMobileModules">

    <!--Used by bluetooth-->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!--Used by vibration-->
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
